:root {
  /* Font family */
  --font-family-primary: 'Lato', sans-serif;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Display */
  --font-size-display-lg: 32px;
  --font-size-display-md: 30px;
  --font-size-display-sm: 28px;

  /* Headings */
  --font-size-heading-lg: 26px;
  --font-size-heading-md: 24px;
  --font-size-heading-sm: 22px;

  /* Titles */
  --font-size-title-lg: 20px;
  --font-size-title-md: 18px;
  --font-size-title-sm: 16px;

  /* Body */
  --font-size-body-lg: 16px;
  --font-size-body-md: 14px;
  --font-size-body-sm: 12px;
}
